# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# {/* <div className="apple"> <FaApple style={{color:'white',backgroundColor:'black',fontSize:'2rem'}}/> <p>Continue with Apple</p></div><div className="facebook"><FaFacebook style={{color:'blue',fontSize:'2rem'}}/> <p>Continue with facebook</p></div> */}